<a href="https://colab.research.google.com/github/GassBoi/COGS108_Repo/blob/main/Test_Notebook_Draft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df_pricesOverYears=pd.read_csv('https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=MSPUS&scale=left&cosd=1963-01-01&coed=2021-10-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Quarterly&fam=avg&fgst=lin&fgsnd=2020-02-01&line_index=1&transformation=lin&vintage_date=2022-02-11&revision_date=2022-02-11&nd=1963-01-01')
df_houseSupplyOverYears=pd.read_csv('https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=MSACSR&scale=left&cosd=1963-01-01&coed=2021-12-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Quarterly&fam=avg&fgst=lin&fgsnd=2020-02-01&line_index=1&transformation=lin&vintage_date=2022-02-11&revision_date=2022-02-11&nd=1963-01-01')
df_GDP_Growth=pd.read_csv('https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=GDPC1_GDPPOT&scale=left&cosd=1949-01-01&coed=2021-10-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=1&lw=2&ost=-99999&oet=99999&mma=0&fml=100%2A%28a-b%29%2Fb&fq=Quarterly&fam=avg&fgst=lin&fgsnd=2009-06-01&line_index=1&transformation=lin_lin&vintage_date=2022-02-11_2022-02-11&revision_date=2022-02-11_2022-02-11&nd=1947-01-01_1949-01-01')

In [ ]:
df_pricesOverYears

           DATE     MSPUS
0    1963-01-01   17800.0
1    1963-04-01   18000.0
2    1963-07-01   17900.0
3    1963-10-01   18500.0
4    1964-01-01   18500.0
..          ...       ...
231  2020-10-01  358700.0
232  2021-01-01  369800.0
233  2021-04-01  382600.0
234  2021-07-01  411200.0
235  2021-10-01  408100.0

[236 rows x 2 columns]

In [ ]:
df_houseSupplyOverYears

           DATE    MSACSR
0    1963-01-01  5.900000
1    1963-04-01  5.466667
2    1963-07-01  5.200000
3    1963-10-01  5.833333
4    1964-01-01  5.700000
..          ...       ...
231  2020-10-01  3.766667
232  2021-01-01  4.100000
233  2021-04-01  5.433333
234  2021-07-01  6.433333
235  2021-10-01  6.600000

[236 rows x 2 columns]

In [ ]:
df_GDP_Growth

           DATE  GDPC1_GDPPOT
0    1949-01-01      0.191080
1    1949-04-01     -1.444080
2    1949-07-01     -1.752736
3    1949-10-01     -3.802595
4    1950-01-01     -1.339918
..          ...           ...
287  2020-10-01     -3.814274
288  2021-01-01     -2.789868
289  2021-04-01     -1.670528
290  2021-07-01     -1.600979
291  2021-10-01     -0.463800

[292 rows x 2 columns]

In [ ]:
df_pricesOverYears['YEAR'] = pd.to_datetime(df_pricesOverYears['DATE']).dt.year
df_pricesOverYears['MONTH'] = pd.to_datetime(df_pricesOverYears['DATE']).dt.month
df_pricesOverYears = df_pricesOverYears.drop(labels= 'DATE', axis = 1)

In [ ]:
df_houseSupplyOverYears['YEAR'] = pd.to_datetime(df_houseSupplyOverYears['DATE']).dt.year
df_houseSupplyOverYears['MONTH'] = pd.to_datetime(df_houseSupplyOverYears['DATE']).dt.month
df_houseSupplyOverYears = df_houseSupplyOverYears.drop(labels = 'DATE', axis =1)

In [ ]:
df_GDP_Growth['YEAR'] = pd.to_datetime(df_GDP_Growth['DATE']).dt.year
df_GDP_Growth['MONTH'] = pd.to_datetime(df_GDP_Growth['DATE']).dt.month
df_GDP_Growth = df_GDP_Growth.drop(labels = 'DATE', axis = 1)

In [ ]:
df_GDP_Growth = df_GDP_Growth[['YEAR','MONTH','GDPC1_GDPPOT']]
df_houseSupplyOverYears = df_houseSupplyOverYears[['YEAR','MONTH','MSACSR']]
df_pricesOverYears = df_pricesOverYears[['YEAR','MONTH','MSPUS']]

In [ ]:
df_pricesOverYears

     YEAR  MONTH     MSPUS
0    1963      1   17800.0
1    1963      4   18000.0
2    1963      7   17900.0
3    1963     10   18500.0
4    1964      1   18500.0
..    ...    ...       ...
231  2020     10  358700.0
232  2021      1  369800.0
233  2021      4  382600.0
234  2021      7  411200.0
235  2021     10  408100.0

[236 rows x 3 columns]

In [ ]:
df_houseSupplyOverYears

     YEAR  MONTH    MSACSR
0    1963      1  5.900000
1    1963      4  5.466667
2    1963      7  5.200000
3    1963     10  5.833333
4    1964      1  5.700000
..    ...    ...       ...
231  2020     10  3.766667
232  2021      1  4.100000
233  2021      4  5.433333
234  2021      7  6.433333
235  2021     10  6.600000

[236 rows x 3 columns]

In [ ]:
df_GDP_Growth

     YEAR  MONTH  GDPC1_GDPPOT
0    1949      1      0.191080
1    1949      4     -1.444080
2    1949      7     -1.752736
3    1949     10     -3.802595
4    1950      1     -1.339918
..    ...    ...           ...
287  2020     10     -3.814274
288  2021      1     -2.789868
289  2021      4     -1.670528
290  2021      7     -1.600979
291  2021     10     -0.463800

[292 rows x 3 columns]

In [ ]:
 df_GDP_Growth = df_GDP_Growth.iloc[56:].reset_index().drop(labels = 'index', axis = 1)

In [ ]:
df_pricesOverYears.columns = ['Year','Month','Median Sales Price of Sold Houses']
df_houseSupplyOverYears.columns = ['Year','Month','Ratio: Houses for Sale to Houses Sold']
df_GDP_Growth.columns = ['Year','Month','GDP Growth Rate']

In [ ]:
df_AllCombined = pd.DataFrame()
df_AllCombined['Year'] = df_GDP_Growth['Year']
df_AllCombined['Month'] = df_GDP_Growth['Month']
df_AllCombined['Median Sales Price of Sold Houses'] = df_pricesOverYears['Median Sales Price of Sold Houses']
df_AllCombined['Ratio: Houses for Sale to Houses Sold'] = df_houseSupplyOverYears['Ratio: Houses for Sale to Houses Sold']
df_AllCombined['GDP Growth Rate'] = df_GDP_Growth['GDP Growth Rate']
df_AllCombined

     Year  Month  ...  Ratio: Houses for Sale to Houses Sold  GDP Growth Rate
0    1963      1  ...                               5.900000        -0.940065
1    1963      4  ...                               5.466667        -0.882805
2    1963      7  ...                               5.200000         0.221648
3    1963     10  ...                               5.833333        -0.201396
4    1964      1  ...                               5.700000         0.821067
..    ...    ...  ...                                    ...              ...
231  2020     10  ...                               3.766667        -3.814274
232  2021      1  ...                               4.100000        -2.789868
233  2021      4  ...                               5.433333        -1.670528
234  2021      7  ...                               6.433333        -1.600979
235  2021     10  ...                               6.600000        -0.463800

[236 rows x 5 columns]

In [ ]:
df_AllCombined.all().isna()

Year                                     False
Month                                    False
Median Sales Price of Sold Houses        False
Ratio: Houses for Sale to Houses Sold    False
GDP Growth Rate                          False
dtype: bool